@import "utilities"
@import "lib/normalize"
@import "lib/flatpickr"
@import "components/icons"
@import "components/buttons"
@import "components/dropdown"
@import "components/search-box"
@import "components/table-nav"
@import "components/pagination"
@import "components/user-table"

html
    font-family: Helvetica, Arial, sans-serif
    font-size: 12px
    color: #111
    background: #fff
    @media (min-width: 700px)
        background: #f8f8f8

html,
body
    height: 100%

.header
    height: 50px
    background: #111
    color: #fff

.white-bg
    min-height: calc(100% - 50px)
    background: #fff
    @media (min-width: 700px)
        margin-left: 50px
        border-left: 1px solid #c5c5c5
    @media (min-width: 1170px)
        margin-left: 200px

.left-nav
    display: none
    @media (min-width: 700px)
        float: left
        width: 50px
        display: block
        background: #f8f8f8

.main-container
    padding: 15px
    @media (min-width: 1170px)
        width: 940px
    @media (min-width: 1205px)
        padding-left: 50px
