.flatpickr-calendar {
    border: 1px solid #c5c5c5;
    border-bottom-width: 0;
    border-left-width: 0;
    margin: 10px 14px 9px;
}
.flatpickr-month {
    background: linear-gradient(#fff, #f6f6f6);
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: relative;
    user-select: none;
    color: #505050;
}
.flatpickr-month::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 28px;
    right: 28px;
    height: 100%;
}
.flatpickr-prev-month,
.flatpickr-next-month {
    position: absolute;
    top: 0;
    height: 100%;
    width: 28px;
    cursor: pointer;
}
.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
    background: rgba(197,197,197,.5);
}
.flatpickr-prev-month {
    left: 0;
}
.flatpickr-next-month {
    right: 0;
}
.flatpickr-prev-month::after,
.flatpickr-next-month::after {
    position: absolute;
    top: 10px;
    content: "";
    display: block;
    border-top: 4px solid rgba(0,0,0,0);
    border-bottom: 4px solid rgba(0,0,0,0);
}
.flatpickr-prev-month::after {
    left: 11px;
    border-right: 4px solid #505050;
}
.flatpickr-next-month::after {
    right: 11px;
    border-left: 4px solid #505050;
}
.numInputWrapper {
  display: inline-block;
}
.numInputWrapper input {
    padding: 0;
    border: 0;
    height: 10px;
    width: 30px;
    background: transparent;
    color: #505050;
}
.flatpickr-weekdays {
    display: table;
    width: 100%;
    border-left: 1px solid #c5c5c5;
}
span.flatpickr-weekday {
    display: table-cell;
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
    height: 20px;
    vertical-align: middle;
}
.flatpickr-days {
    overflow: hidden;
}
.flatpickr-day {
    display: block;
    float: left;
    text-align: center;
    width: calc(14.2857143% - 1px);
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
}
.flatpickr-day:hover {
    background: #eee;
}
.flatpickr-day.selected {
    background: #0da7f4;
    color: #fff;
    box-shadow: inset 0 0 3px rgba(0,0,0,.3);
}
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
    color: #878787;
}
