.dropdown
    position: relative
    height: 28px
    border: 1px solid #c5c5c5
    border-radius: 3px
    background: linear-gradient(#fff, #f6f6f6)

    &--disabled
        opacity: .5

    &::before
        position: absolute
        right: 8px
        top: 12px
        content: ""
        display: block
        border-left: 4px solid rgba(0,0,0,0)
        border-right: 4px solid rgba(0,0,0,0)
        border-top: 4px solid #636363

    &--active
        background: #fff

    &--active::before
        border-top-width: 0
        border-bottom: 4px solid #636363

    &__field
        left: 0
        width: 100%
        height: 100%
        opacity: 0

        &--date
            min-width: 95%
            width: 95%

    &--desktop &__field
        position: absolute
        top: 0
        left: -9999px

    &__current-label
        text-overflow: ellipsis
        overflow: hidden
        margin: 0 23px 0 11px
        height: 28px
        line-height: 28px
        white-space: nowrap

        &--placeholder
            color: #636363

    &--desktop &__link
        display: block
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        cursor: pointer

    &--disabled &__link
        cursor: default

    &--desktop &__options
        display: none
        position: absolute
        left: -1px
        right: -1px
        top: 27px
        max-height: 229px
        overflow: auto
        padding-bottom: 5px
        background: #fff
        border: 1px solid #c5c5c5
        border-radius: 0 0 3px 3px
        border-top-width: 0
        z-index: 999

        &--top
            border-top-width: 1px
            border-bottom-width: 0
            border-radius: 3px 3px 0 0
            padding-bottom: 0
            padding-top: 5px
            top: auto
            bottom: 26px

    &--desktop &__check-bulk
        padding: 12px 10px 5px

    &--desktop &__check-all,
    &--desktop &__uncheck-all
        color: #1aa4f4
        display: inline-block
        margin-right: 15px
        cursor: pointer

        &:hover
            text-decoration: underline

    &--desktop &__optgroup-title
        padding: 10px 10px 2px
        font-size: 1rem
        font-weight: bold

    &--desktop &__option
        cursor: pointer
        line-height: 20px
        margin: 0 5px 1px
        padding: 0 5px

        &--active,
        &:hover
            background: #2baef2
            color: #fff

    &--desktop &__checkbox
        margin-right: 7px

    &--desktop &__option-label
        display: block
