.pagination
    text-align: left

    @media (min-width: 700px)
        text-align: right

    &__item
        padding-bottom: 5px
        display: inline-block
        vertical-align: middle

        @media (min-width: 700px)
            padding-bottom: 0

        &:before
            content: "|"
            display: inline-block
            font-size: 8px

        &:first-child:before
            display: none

        &--no-separator:before
            display: none

    &__arrow
        display: inline-block
        font-size: 20px
        line-height: 12px
        vertical-align: middle

    &__page-input
        padding: 0
        width: 28px
        height: 28px
        border: 1px solid #c5c5c5
        border-radius: 3px
        box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
        text-align: center
        background: #fff

        &:focus
            outline: none
            border-color: #989898
