.search-box
    padding: 0 10px
    background: #f8f8f8
    border: 1px solid #c5c5c5
    @media (min-width: 700px)
        padding: 0 20px

    &__heading
        margin: 20px 0 7px
        font-size: 1rem

    &__filter-row
        margin-bottom: 10px

    &__filter-field
        margin-bottom: 10px

        @media (min-width: 700px)
            width: 200px
            float: left
            margin-right: 5px

    &__line
        border: 0
        border-top: 1px solid #c5c5c5
        margin: 0 -10px

        @media (min-width: 700px)
            margin: 0 -20px

    &__add-new-filter
        margin-bottom: 20px

    &__columns
        @extend .clearfix

    &__column
        float: left
        width: 100%
        padding-bottom: 10px
        font-size: 11px
        color: #111

        @media (min-width: 700px)
            width: 25%


        @media (min-width: 1000px)
            width: 16%

    &__update
        margin: 10px 8px 10px 0
