.table-nav
    padding: 10px 0
    @extend .clearfix

    &__filter
        margin-bottom: 10px

        @media (min-width: 700px)
            float: left
            width: 45%
            padding-bottom: 0

        @media (min-width: 1000px)
            width: 55%

    &__pagination
        @media (min-width: 700px)
            float: right

    &__filter-items
        display: inline-block

        @media (min-width: 700px)
            margin-bottom: -10px

    &__filter-item
        position: relative
        display: inline-block
        vertical-align: middle
        padding-right: 20px
        margin-bottom: 10px

        &:after
            content: "+"
            display: inline-block
            position: absolute
            top: 9px
            right: 6px

        &:last-child
            padding-right: 10px

        &:last-child.table-nav__filter-item:after
            display: none

    &__filter-times-icon
        top: 1px

    &__filter-title
        margin-left: 5px

    &__filter-empty
        display: inline-block
        color: #999

        &--hide
            display: none

    &__filter-clear
        display: inline-block
        vertical-align: top

        &--hide
            display: none
